<div class="container text-center">
    <h1 id="greeting">Welcome to the Task Manager!</h1>

    <ul class="list-unstyled list-inline">
      <li><a class="btn btn-info" href="/tasks">Task Index</a></li>
      <li><a class="btn btn-success" href="/tasks/new">New Task</a></li>
    </ul>
</div>
